<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <title>Tariff</title>
</head>
<body>
  <!-- Голова -->
  <header>
    <div class="container header">
      <div class = "logo"><a href="news.html"><img src="img/logo.svg" alt="">Телеком Нева Связь</a></div>
      <ul>
        <li class = "bgboot"><a href="news.html">Новости</a></li>
        <li class = "bgboot"><a href="equest.html">Заявка</a></li>
        <li class = "bgboot"><a href="tariff.html">Тарифы</a></li>
        <li class = "bgboot"><a href="authorization.html">Авторизация</a></li>
      </ul>
      <p>Гость</p>
    </div>
  </header>


  <!-- Основа -->
  <main>
    <section>
      <div class="container connection">
      <div class="bid">
          <h1>Заявка на подключение</h1>
        <form class="" action="index.html" method="post">
        <ul>
          <li><input type="text" name="" value="" placeholder="Укажите адрес проживания"></li>
          <li><input type="text" name="" value="" placeholder="Укажите ФИО"></li>
          <li><input type="text" name="" value="" placeholder="Укажите номер телефона"></li>
        </ul>
          <p>С вами свяжутся в течении часа</p>
          <input type="submit" name="" value="Отправить" class = "but">
        </form>
      </div>
      <div>
          <li class = "blockTariff connectTariff">
          <ul>
            <li><h2>Название тарифа</h2></li>
            <li><p class="speedIT">Скорость инета</p></li>
            <li><p class = "TV">TV</p></li>
            <li><p class = "cinematins">ОнлайнКинотеатр</p></li>
            <li><p class = "cumm">Комментарий</p></li>
          </ul>
        </li>
      </div>

      </div>
    </section>
  </main>



  <!-- Ноги -->
  <footer class="fix">
<div class="container footer">
  <h2>У нас нету прав :(</h2>
</div>
  </footer>
</body>
</html>
