<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <title>News</title>
</head>
<body>
  <!-- Голова -->
  <header>
    <div class="container header">
      <div class = "logo"><a href="News.html"><img src="img/logo.svg" alt="">Телеком Нева Связь</a></div>
      <ul>
        <li class = "bgboot"><a href="News.html">Новости</a></li>
        <li class = "bgboot"><a href="Request.html">Заявка</a></li>
        <li class = "bgboot"><a href="Tariff.html">Тарифы</a></li>
        <li class = "bgboot"><a href="Authorization.html">Авторизация</a></li>
      </ul>
    <p>Гость</p>
    </div>
  </header>


  <!-- Основа -->
  <main>
    <section>
      <div class="container news">
        <h1>Новости компании</h1>
        <ul class="post">
          <li>
            <div class="picture"><a href=""><img src="img/news-1.jpg" alt=""></a></div>
            <div class="sleng">
              <a href=""><h2  class="color1">Пока пока ростелеком</h2></a>
              <p>Наша компания выкупает ростелеком потомучто может себе это позволить так как мы не ставим запятые у нас накопилось много денег с печати и мы может позволить тратить деньги вообще мы не ставим никакие знаки по этому текст занимает меньше места на листе и мы экономим на этом <a href="">читать далее...</a></p>
            </div>
          </li>
          <li>
            <div class="picture">
            <a href=""><img src="img/news-2.jpg" alt=""></a>
            </div>
          <div class="sleng">
            <a href=""><h2  class="color1">Услуги не услуги</h2></a>
            <p>Все офисы ростелекома будут переделаны под дизайн новой компании Телеком Нева Связь это очень круто так говорит второй основатель Данилла Чременбекович <a href="">читать далее...</a></p>
          </div>
          </li>
          <li>
          <div class="picture">
            <a href=""><img src="img/news-3.jpg" alt=""></a>
          </div>
          <div class="sleng">
            <a href=""><h2  class="color1">Заседание</h2></a>
            <p>Вот они лошки которые потеряли ростелеком думают как теперь жить без денег и тратят последние деньги на кофе с печеньками <a href="">читать далее...</a></p>
          </div>
          </li>
        </ul>
        <div class="nextNews">
          <a href="">Показать еще</a>
        </div>
      </div>
    </section>
  </main>



  <!-- Ноги -->
  <footer>
<div class="container footer">
  <h2>У нас нету прав :(</h2>
</div>
  </footer>
</body>
</html>
